html {
    min-height: 100%;
    /* position: relative; */
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #17408B;
    color: white;
}

#content {
    margin: 2% 9% 5% 9%;
    display: none;
}

.teams-display {
    margin-left: 15%;
    margin-right: 15%;
}

.top-bar {
    border-bottom: 1px solid #fdfdfd;
    margin-bottom: 3%;
    padding-bottom: 1%;
}

#visitor-team-name-players-title, #home-team-name-players-title, #home-team-name, #visitor-team-name:first-letter {
    text-transform:capitalize;
}

#home-team-points, #visitor-team-points {
    font-size: 1.6em;
}

#location, #date {
    font-size: 0.8em;
    opacity: 0.6;
}

.team-logo {
    max-width: 60%;
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow( 5px 5px 3px rgba(0, 0, 0, .7));
}

.final-score {
    margin-top: 40%;
}

.quarters-score {
    padding-right: 4%;
    padding-left: 4%;
    font-size: 0.7em;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#open-file-btn {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    color: white;
    text-transform: uppercase;
    border: 0 solid;
    border-color: white;
    border-radius: 99999px;
    border-width: 2px;
    background: transparent;
    width: 100%;
    padding: .75rem 2rem .75rem 2rem;
}

#open-file-btn:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 99999px;
    border-width: 2px;
}

#open-file-btn:active {
    color: white;
}

#open-file-btn:active:after {
    background: transparent;
}

#open-file-btn:hover:before {
    opacity: 1;
}

#open-file-btn:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #17408B;
    left: 0;
    top: 0;
    border-radius: 99999px;
    border-width: 2px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.thead-light th {
    color: #373a3c;
    background-color: #fff;
}

.table-rounded {
    overflow: hidden;
    padding: 0;
    border-color: #373b3e;
    border-radius: 11px;
}

#home-players-table, #visitor-players-table {
    margin-bottom: 0;
}

.active-tab {
    cursor: pointer;
    background-color: #000814;
    border-radius: 5px;
}

.deactive-tab {
    cursor: pointer;
    background-color: #e5e5e5;
    border-radius: 5px;
    color: #adb5bd;
}

.cell-danger {
    --bs-table-bg: #f8d7da !important;
    --bs-table-accent-bg: #f8d7da !important;
    --bs-table-striped-bg: #eccccf !important;
    --bs-table-striped-color: #000 !important;
    --bs-table-active-bg: #dfc2c4 !important;
    --bs-table-active-color: #000 !important;
    --bs-table-hover-bg: #e5c7ca !important;
    --bs-table-hover-color: #000 !important;
    color: #000 !important;
    border-color: #dfc2c4 !important;
}

.loading {
    animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

footer {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 0.8em;
    padding-bottom: 1%;
}

footer .github-link:link, footer .github-link:visited {
    text-decoration: underline;
    color: white;
}

footer .github-link{
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  background-size: 200% 200%;
  animation: rainbow 2s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip:text;
  transition: color .2s ease-in-out;
}

footer .github-link:hover{
  color:rgba(0, 0, 0, 0);
}

@keyframes rainbow { 
  0%{background-position:left}
  50%{background-position:right}
  100%{background-position:left}
}

/* Rules for sizing the icon. */
.material-icons.md-14 { font-size: 14px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.animate-validate {
    animation: full-spin 1.2s linear infinite;
}

@keyframes full-spin {
    0% { transform: rotate(360deg); }
    100% { transform: rotate(0deg); }
}
