body {
    font-family: 'Open Sans', sans-serif;
    background-color: #17408B;
    color: white;
}

#content {
    margin: 2% 10% auto 10%;
    display: none;
}

.teams-display {
    margin-left: 15%;
    margin-right: 15%;
}

#host-team-name, #visitor-team-name:first-letter {
    text-transform:capitalize;
}

#host-team-points, #visitor-team-points {
    font-size: 1.6em;
}

#location, #date {
    font-size: 0.8em;
    opacity: 0.6;
}

.team-logo {
    max-width: 60%;
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow( 5px 5px 3px rgba(0, 0, 0, .7));
}

.final-score {
    margin-top: 40%;
}

.quarters-score {
    padding-right: 4%;
    padding-left: 4%;
    font-size: 0.7em;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#open-file-btn {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    color: white;
    text-transform: uppercase;
    border: 0 solid;
    border-color: white;
    border-radius: 99999px;
    border-width: 2px;
    background: transparent;
    width: 100%;
    padding: .75rem 2rem .75rem 2rem;
}

#open-file-btn:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 99999px;
    border-width: 2px;
}

#open-file-btn:active {
    color: white;
}

#open-file-btn:active:after {
    background: transparent;
}

#open-file-btn:hover:before {
    opacity: 1;
}

#open-file-btn:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #17408B;
    left: 0;
    top: 0;
    border-radius: 99999px;
    border-width: 2px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}